body{
  background-color: #2b245a;
}

#div-btn-index{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#div-btn-img{
  display: flex;
}

#img {
  width: 65%;
}